[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.19"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
base = "${BASE_RPC_URL}"

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = true

[profile.ci]
fuzz = { runs = 5000 }
invariant = { runs = 1000 }
